<h1>ユーザー登録</h1>

<%= form_with model: @user, url: users_path, method: :post, local: true do |f| %>
  <p>
    <label>ユーザーID：</label>
    <%= f.text_field :uid %>
  </p>
  <p>
    <label>パスワード：</label>
    <%= f.password_field :pass %>
  </p>
  <p>
    <label>名前：</label>
    <%= f.text_field :name %>
  </p>
  <p>
    <label>自己紹介：</label>
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.submit "登録" %>
  </p>
<% end %>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>
