<h1>ユーザー登録</h1>

<%= form_with model: @user, url: '/users/create', method: :post, local: true do |f| %>
  <p>
    <label>ユーザーID：</label>
    <%= f.text_field :uid %>
  </p>
  <p>
    <label>年齢：</label>
    <%= f.number_field :age %>
  </p>
  <p>
    <label>パスワード：</label>
    <%= f.password_field :pass %>
  </p>
  <p>
    <%= f.submit '登録' %>
  </p>
<% end %>

<% if @user.errors.any? %>
  <div style="color:red;">
    <h3>エラー：</h3>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
