<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "L5" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav style="background-color: #f3f3f3; padding: 10px;">
      <% if session[:login_uid] %>
        <%= link_to "ホーム", root_path %> |
        <% if User.find_by(uid: session[:login_uid]) %>
          <%= link_to "プロフィール", user_path(User.find_by(uid: session[:login_uid])) %> |
        <% end %>
        <%= link_to "ログアウト", top_logout_path %>
      <% else %>
        <%= link_to "ホーム", root_path %> |
        <%= link_to "ログイン", top_login_form_path %> |
        <%= link_to "新規登録", new_user_path %>
      <% end %>
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>
